@charset "UTF-8";

@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  font-display: swap;
  src: url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LatoRegular";
  font-display: swap;
  src: url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  color: #000;
  font-size: 14px;
  font-family: "LatoRegular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.lock,
body.lock {
  overflow: hidden !important;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header.mob {
  bottom: 0;
  background: #fff;
}

.header.bg {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.header a {
  font-weight: 800;
  color: #04151f;
  padding: 5px 0;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-transform: uppercase;
}

.header a:hover {
  color: #66717f;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header__logo img {
  max-width: 100%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__contacts img {
  max-width: 100%;
  height: 35px;
  padding: 5px;
}

.header__contacts img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__contacts a {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 8px;
}

.menu__item.tel {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Burger*/

.icon-menu {
  display: none;
}

.animLeft {
  animation-name: animLeft;
  -webkit-animation-name: animLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes animLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes animLeft {
  0% {
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

/*banner*/

.banner {
  padding: 120px 0 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f7f9;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  font-size: calc(27px + 27 * ((100vw - 320px) / 1420));
  font-weight: 800;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 120%;
  color: #1b2b4b;
  font-family: LatoBold;
  text-align: center;
  font-weight: 700;
}

.banner span {
  font-size: calc(18px + 7 * ((100vw - 320px) / 1420));
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 50px;
  color: #1b2b4b;
  font-family: Lato-Light;
}

.banner__btn {
  background-color: #4CB963;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1420));
  padding: 15px 20px;
  min-width: 230px;
  letter-spacing: 1.2px;
  margin: 0px 0px 20px 0px;
  border-radius: 31px;
  font-weight: 600;
  color: #fff;
}

.banner__btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.banner picture {
  text-align: center;
}

.banner img {
  max-width: 70%;
  margin: 0 auto;
  -webkit-transform: translate(0%, 5%);
      -ms-transform: translate(0%, 5%);
          transform: translate(0%, 5%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.banner img._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

/*services*/

.services {
  padding: 60px 0;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__text {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1420));
  line-height: 200%;
  margin-bottom: 40px;
}

.services__text p {
  margin-top: 25px;
}

.services__btn {
  background-color: transparent;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1420));
  padding: 10px 15px;
  min-width: 150px;
  letter-spacing: 1.2px;
  margin: 25px 0px;
  border-radius: 31px;
  font-weight: 600;
  color: #3176f7;
  border: 2px solid #3176f7;
}

.services__btn:hover {
  color: #fff;
  background: #3176f7;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transform: translate(5%, 0%);
      -ms-transform: translate(5%, 0%);
          transform: translate(5%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.services__cards._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.pre-title {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2.6px;
  color: #3176f7;
  text-transform: uppercase;
  margin: 0px;
  line-height: 120%;
}

.title {
  font-size: calc(18px + 17 * ((100vw - 320px) / 1420));
  font-weight: 800;
  line-height: 120%;
  color: #1b2b4b;
  margin-top: 10px;
}

.cards__card {
  background: #f6f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 10px;
  text-align: center;
}

.cards__img {
  width: 100%;
}

.cards__img img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1420));
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 1.1px;
  color: #1b2b4b;
  padding: 0 15px;
  margin: 15px 0px 10px 0;
}

.card p {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 1px;
  padding: 0 15px;
}

/*jurist, fiz, about*/

.about,
.jurist {
  background: #f6f7f9;
}

.jurist__img {
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.jurist__img._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.fiz__img {
  -webkit-transform: translate(100%, 0%);
      -ms-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.fiz__img._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.about__img {
  -webkit-transform: translate(-5%, 0%);
      -ms-transform: translate(-5%, 0%);
          transform: translate(-5%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.about__img._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.jurist,
.fiz,
.about {
  padding: 60px 0;
  position: relative;
}

.jurist__container,
.fiz__container,
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jurist__text,
.fiz__text,
.about__text {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1420));
  line-height: 200%;
  margin-bottom: 40px;
}

.jurist__text p,
.fiz__text p,
.about__text p {
  margin-top: 25px;
}

.jurist .about__text,
.fiz .about__text,
.about .about__text {
  margin-left: auto;
}

.jurist__btn,
.fiz__btn,
.about__btn {
  background-color: transparent;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1420));
  padding: 10px 15px;
  min-width: 150px;
  letter-spacing: 1.2px;
  margin: 25px 0px;
  border-radius: 31px;
  font-weight: 600;
  color: #3176f7;
  border: 2px solid #3176f7;
}

.jurist__btn:hover,
.fiz__btn:hover,
.about__btn:hover {
  color: #fff;
  background: #3176f7;
}

.jurist__list,
.fiz__list,
.about__list {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1420));
  line-height: 120%;
}

.jurist__list li,
.fiz__list li,
.about__list li {
  margin-bottom: 20px;
  position: relative;
  margin-left: 20px;
}

.jurist__list li::before,
.fiz__list li::before,
.about__list li::before {
  content: '✓';
  position: absolute;
  left: -20px;
}

.jurist__img img,
.fiz__img img,
.about__img img {
  max-width: 100%;
}

.jurist .about__img,
.fiz .about__img,
.about .about__img {
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
}

.jurist .about__img img,
.fiz .about__img img,
.about .about__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.jurist__title,
.fiz__title,
.about__title {
  margin-bottom: 25px;
}

/*pluses*/

.pluses {
  padding: 60px 0;
}

.pluses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pluses__title {
  margin-bottom: 25px;
}

.pluses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__item {
  text-align: center;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1420));
}

.items__title {
  font-weight: 800;
  font-size: calc(22px + 8 * ((100vw - 320px) / 1420));
}

.items__title span {
  font-weight: 400;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1420));
}

/*testimonials*/

.testimonials {
  padding: 60px 0;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__text {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1420));
  line-height: 200%;
  margin-bottom: 40px;
}

.testimonials__text p {
  margin-top: 25px;
}

.testimonials__btn {
  background-color: transparent;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1420));
  padding: 10px 15px;
  min-width: 150px;
  letter-spacing: 1.2px;
  margin: 25px 0px;
  border-radius: 31px;
  font-weight: 600;
  color: #3176f7;
  border: 2px solid #3176f7;
}

.testimonials__btn:hover {
  color: #fff;
  background: #3176f7;
}

.slider {
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 8px;
}

.slider .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.slider .slick-dots li {
  margin: 0px 20px;
  width: 20px;
  height: 20px;
  background: #f6f7f9;
  border: 1px solid #4CB963;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.slider .slick-dots .slick-active {
  background: #4CB963;
  width: 30px;
  height: 30px;
}

.slider__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.slider__item img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.slider__item p {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 1px;
  padding: 0 15px;
  text-align: center;
}

.slider__name {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1420));
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 1.1px;
  color: #1b2b4b;
  padding: 0 15px;
  margin: 15px 0px 10px 0;
}

/*form*/

.form {
  padding: 60px 0;
  background: #f6f7f9;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form__btn {
  background-color: transparent;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1420));
  padding: 10px 15px;
  min-width: 150px;
  letter-spacing: 1.2px;
  border-radius: 31px;
  font-weight: 600;
  color: #4CB963;
  border: 2px solid #4CB963;
}

.form__btn:hover {
  color: #fff;
  background: #4CB963;
}

.contact-form {
  width: 50%;
}

.contact-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px 0px 0px;
}

.contact-form__inputs input,
.contact-form__inputs textarea {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  background: transparent;
  border: 1px solid #1b2b4b;
  border-radius: 6px;
}

.contact-form__inputs input[type=checkbox] {
  width: auto;
  margin-right: 5px;
}

.contact-form .checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-form .checkbox a {
  margin-left: 5px;
}

.message {
  text-align: center;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1420));
  color: #791111;
  display: none;
}

.thanks {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1420));
  text-align: center;
  color: #1b2b4b;
  display: none;
}

/*gallery*/

.gallery {
  padding: 60px 0;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 20px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__slider .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__slider .slick-prev,
.gallery__slider .slick-next {
  font-size: 30px;
  cursor: pointer;
  padding: 0 5px;
}

.gallery__slider img {
  margin: 0 auto;
  max-height: 500px;
}

/*popups*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  display: none;
}

.popup.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__icon {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.popup__icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #003b4e;
}

.popup__icon span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.popup__icon span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.popup__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.fa-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid rgba(35, 60, 245, 0.5);
  padding: 15px;
  border-radius: 50%;
  z-index: 1;
  color: rgba(35, 60, 245, 0.5);
}

.fa-arrow-up:hover {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.footer {
  padding: 10px 0;
  background: #04151f;
}

.footer a {
  font-weight: 800;
  color: #4CB963;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-transform: uppercase;
}

.footer a:hover {
  color: #66717f;
}

.footer p {
  font-weight: 800;
  color: #4CB963;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-transform: uppercase;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__logo img {
  max-width: 100%;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__contacts img {
  max-width: 100%;
  height: 35px;
  padding: 5px;
}

.footer__contacts img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__contacts a {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1452px) {
  .header__contacts img {
    height: 30px;
  }
}

@media (max-width: 992px) {
  .header a {
    padding: 3px;
  }

  .header__contacts img {
    height: 20px;
  }

  .header__contacts a {
    font-size: 11px;
  }

  .menu__item {
    margin: 0 3px;
  }
}

@media (max-width: 768px) {
  .header {
    position: absolute;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
  }

  .header__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }

  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: initial;
  }

  .menu__list {
    display: none;
    padding: 40px 20px;
    font-size: 18px;
  }

  .menu__list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .menu__item {
    margin: 0px;
    width: 100%;
  }

  .menu__item.tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .banner {
    padding: 50px 0;
  }

  .banner__title {
    margin: 0px 0px 0px 0px;
  }

  .banner span {
    margin: 10px 0px;
  }

  .banner img {
    max-width: 100%;
  }

  .services {
    padding: 30px 0;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fiz__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .jurist,
  .fiz,
  .about {
    padding: 30px 0;
  }

  .jurist__container,
  .fiz__container,
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .jurist__text,
  .fiz__text,
  .about__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .jurist .about__img,
  .fiz .about__img,
  .about .about__img {
    display: block;
    max-width: 100%;
    position: relative;
    top: 0px;
    left: 0;
  }

  .jurist .about__img img,
  .fiz .about__img img,
  .about .about__img img {
    margin: 0px 0px 25px 0px;
  }

  .pluses {
    padding: 30px 0;
  }

  .pluses__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonials {
    padding: 30px 0;
  }

  .testimonials__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .slider__item img {
    width: 150px;
    height: 150px;
  }

  .form {
    padding: 30px 0;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form__inputs input,
  .contact-form__inputs textarea {
    width: 100%;
  }

  .gallery {
    padding: 30px 0;
  }

  .gallery__slider img {
    width: 100%;
  }

  .footer p {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 10px 0px 0px 0px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    max-width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
